/.vs/CSVtoQIF/v15/.suo
/.vs/CSVtoQIF/v15/Browse.VC.db
/.vs/CSVtoQIF/v15/Browse.VC.opendb
/.vs/CSVtoQIF/v15/ipch/cded4451ab4b224e.ipch
/CSVtoQIF/Debug/CSVtoQIF.log
/CSVtoQIF/Debug/CSVtoQIF.obj
/CSVtoQIF/Debug/csvtoqif.obj.enc
/CSVtoQIF/Debug/CSVtoQIF.pch
/CSVtoQIF/Debug/CSVtoQIF.tlog/CL.command.1.tlog
/CSVtoQIF/Debug/CSVtoQIF.tlog/CL.read.1.tlog
/CSVtoQIF/Debug/CSVtoQIF.tlog/CL.write.1.tlog
/CSVtoQIF/Debug/CSVtoQIF.tlog/CSVtoQIF.lastbuildstate
/CSVtoQIF/Debug/CSVtoQIF.tlog/link.command.1.tlog
/CSVtoQIF/Debug/CSVtoQIF.tlog/link.read.1.tlog
/CSVtoQIF/Debug/CSVtoQIF.tlog/link.write.1.tlog
/CSVtoQIF/Debug/stdafx.obj
/CSVtoQIF/Debug/vc141.idb
/CSVtoQIF/Debug/vc141.pdb
/Debug/CSVtoQIF.ilk
/Debug/CSVtoQIF.pdb
